<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>
          {% if site.cv %}
          <a href="https://github.com/jcmartinezmori/jcmartinezmori.github.io/blob/master/research/martinezmori_cv.pdf">
            Curriculum Vitae
          </a>
          {% endif %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          
          {% if site.github_username %}
              <tr>
                <td>
                  <a href="https://github.com/{{ site.github_username }}">
                    <i class="fa fa-github"></i> 
                  </a>
                </td>
                <td>
                  <a href="https://github.com/{{ site.github_username }}">
                    GitHub
                  </a>
                </td>
              </tr>
          {% endif %}
          
          {% if site.scholar_username %}
              <tr>
                <td>
                  <a href="https://scholar.google.com/citations?user={{ site.scholar_username }}">
                    <i class="fa fa-google"></i> 
                  </a>
                </td>
                <td>
                  <a href="https://scholar.google.com/citations?user={{ site.scholar_username }}">
                    Google Scholar
                  </a>
                </td>
              </tr>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col  footer-col-3">
         <p class="text">
{{ site.description }} 
      </div>
    </div>

  </div>

</footer>
