@font-face {
  font-family: 'Stempel Schneidler';
  src: url('StempelSchneidlerLT-Medium.eot?#iefix') format('embedded-opentype'),  url('StempelSchneidlerLT-Medium.woff') format('woff'), url('StempelSchneidlerLT-Medium.ttf')  format('truetype'), url('StempelSchneidlerLT-Medium.svg#StempelSchneidlerLT-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'palai';
  src: url('PalatinoLinotype-Italic.eot?#iefix') format('embedded-opentype'),  url('PalatinoLinotype-Italic.woff') format('woff'), url('PalatinoLinotype-Italic.ttf')  format('truetype'), url('PalatinoLinotype-Italic.svg#PalatinoLinotype-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('alegreya-regular-webfont.eot');
    src: url('alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('alegreya-regular-webfont.woff2') format('woff2'),
         url('alegreya-regular-webfont.woff') format('woff'),
         url('alegreya-regular-webfont.ttf') format('truetype'),
         url('alegreya-regular-webfont.svg#alegreyaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'AlteHaasGroteskB';
    src: url('altehaasgroteskbold-webfont.eot');
    src: url('altehaasgroteskbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('altehaasgroteskbold-webfont.woff2') format('woff2'),
         url('altehaasgroteskbold-webfont.woff') format('woff'),
         url('altehaasgroteskbold-webfont.ttf') format('truetype'),
         url('altehaasgroteskbold-webfont.svg#alte_haas_groteskbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'AlteHaasGrotesk';
    src: url('altehaasgroteskregular-webfont.eot');
    src: url('altehaasgroteskregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('altehaasgroteskregular-webfont.woff2') format('woff2'),
         url('altehaasgroteskregular-webfont.woff') format('woff'),
         url('altehaasgroteskregular-webfont.ttf') format('truetype'),
         url('altehaasgroteskregular-webfont.svg#alte_haas_groteskregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

