@font-face {
	font-family: 'Adobe Caslon';
	src:url('fonts/Adobe_Caslon_Pro_Regular.ttf');
}

@font-face {

	font-family: 'Sorts Mill Goudy';
	src: url('fonts/SortsMillGoudy-Regular.ttf');

}

@font-face {

	font-family: 'Alegreya';
	src: url('fonts/Alegreya-Regular.ttf');

}

@font-face {

	font-family: 'Minion Pro';
	src: url('fonts/Minion-Pro-Regular.ttf');
	
}

@font-face {

	font-family: 'Stempel Schneidler';
	src: url('fonts/Stempel-Schneidler-LT-Medium.ttf');
	
}

@font-face {

	font-family: 'AlteHaasGroteskB';
	src: url('fonts/AlteHaasGroteskBold.ttf');
	
}

@font-face {

	font-family: 'AlteHaasGrotesk';
	src: url('fonts/AlteHaasGroteskRegular.ttf');
	
}

@font-face {

	font-family: 'palai';
	src: url('fonts/PalatinoLinotypei.ttf');
	
}




